/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav li.active {
  font-weight: bold;
}

nav li a {
  text-decoration: none;
  color: #000000;
}

nav li a:hover,
li:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/*/////// ADDED \\\\\\\\*/

/* BUTTON FILTER */

.modif-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: 80px;
}

.projets-title {
  margin: none;
}

.login-modifier {
  margin-bottom: 2em;
  border: none;
  background-color: #ffffff;
  color: black;
}

.button-link {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  color: black;
}

.button-link:visited {
  color: black;
}

#filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  margin: 2em;
}

.filter-button {
  font-family: "Syne";
  font-weight: 700;
  background-color: white;
  color: #1d6154;
  text-align: center;
  border-radius: 60px;
  border: 1px #1d6154 solid;
  font-size: 1.15em;
  padding: 0.5em 1em;
}

.filter-button:hover {
  cursor: pointer;
}

.filter-button.active {
  background-color: #1d6154;
  color: white;
}

/* LOG IN */
main .logInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 16px;
  margin-bottom: 250px;
}

main .logInContainer .underlinePassWord {
  text-decoration: underline;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
}

main .logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

main .logInForm div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

main .logInForm label {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

main .logInForm input[type="text"],
main .logInForm input[type="password"] {
  box-shadow: 0px 4px 14px 0px #00000017;
  background-color: #ffffff;
  width: 380px;
  height: 51px;
  border: none;
}

main .logInForm input[type="submit"] {
  border: none;
  height: 36px;
  font-family: "Syne";
  font-weight: 700;
}

footer .logInFooterContainer .logInNav {
  font-family: "Work Sans";
  font-weight: 300;
}

footer .logInFooterContainer {
  display: flex;
  justify-content: end;
}

#logOutLink {
  display: none;
}

/*   MODALE   */

.projets-modifier {
  display: flex;
  flex-direction: row;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.icon-button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.modal-button {
  display: block;
  width: 237px;
  font-family: "Syne";
  font-weight: 700;
  background-color: #1d6154;
  color: white;
  text-align: center;
  border-radius: 60px;
  font-size: 0.875em;
  padding: 0.5em 1em;
  border: 1px #1d6154 solid;
}

.modal-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#modal-view-add-photo {
  display: none;
}

.modal-title {
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  color: #000000;
}

.style-hr {
  width: 100%;
  border: none;
  border-top: 2px solid #ccc;
  margin: 10px 0;
}

.closeCross {
  border: none;
  background-color: #ffffff;
}

.closeCross:hover {
  cursor: pointer;
}

#work-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 8px;
  padding: 0px 20px 0px 20px;
}

.work-card {
  position: relative;
  width: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100% - 32px) / 5);
}

.work-card img {
  max-width: 100%;
}

.remove-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 17px;
  height: 17px;
}
